<%= nested_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= @review.title %><br /></h2>
  </div>
<%
      youtubeId = parseYoutube(@review)
%>

<iframe width="420" height="315" src="http://www.youtube.com/embed/<%= youtubeId %>?rel=0" frameborder="0" allowfullscreen></iframe>
<br></br><br></br>
<div class="field">
  <%= f.fields_for :questions do |builder| %>
  <%# debugger %>
  <%= builder.label builder.object.question%>
<%#= builder.label :answer %><br></br>
  <%= builder.text_area :answer, :size => "40x3" %>
  <br></br><br></br>
  <% end %>
</div>

<div class="field">
    <%= f.label :overall_comments %><br />
    <%= f.text_area :overall_comments, :size => "40x10" %>
</div>

<div class="field">
    <%= f.label :suggested_drills %><br />
    <%= f.text_area :suggested_drills, :size => "40x10"  %>
</div>

<div class="field">
  <%= f.radio_button :state, "In Progress" %>
  <%= f.label :state, "In Progress", :value => "In Progress"%>
  <%= f.radio_button :state, "Complete" %>
  <%= f.label :state, "Complete", :value => "Complete"%>
</div>

<div class="actions">
    <%= f.submit params[:action] == "new" ? "Request Review" : "Update Review", :class => 'button' %>
  </div>
<% end %>
