<%= nested_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <% @allUsers = User.all
     reviewers = Array.new
     for user in @allUsers
       for role in user.roles
         if (role.role == "Reviewer" )
           reviewers.push user
         end
       end
     end

     for i in reviewers
       selected = false;
        if (i.id == @review.reviewer_id)
          selected = true;
        end
  %>
<div class="field">
  <%= f.radio_button :reviewer_id, i.id, :checked => selected %>
  <%= f.label :reviewer_id, i.first_name + " " + i.last_name, :value => i.id%>
</div>
<% end %>
<%
      parsedURL = URI.parse(@review.url)
      if (parsedURL.host = "www.youtube.com")
        if (parsedURL.query != nil)
          queryParams = parsedURL.query
          if (queryParams =~ /&/ )
            queryParams = parsedURL.query.split("&")[0]
          end
         youtubeId = queryParams.split("=")[1]
        else
        youtubeId = parsedURL.path.split("/")[1]
        end
      end
%>

<iframe width="420" height="315" src="http://www.youtube.com/embed/<%= youtubeId %>?rel=0" frameborder="0" allowfullscreen></iframe>
<br></br><br></br>

<div class="field">
  <%= f.fields_for :questions do |builder| %>
  <%= builder.text_field :question %>
  <%= builder.link_to_remove "Remove Question"%>
  <% end %>
  <p><%= f.link_to_add("Add Question", :questions)  %></p>
</div>
  <div class="actions">
    <%= f.submit "Update Review", :class => 'button' %>
  </div>
<% end %>
