<%
   for i in current_user.roles
     if (i.role == "Admin")
       admin = true
     elsif (i.role == "Student")
       student = true
     elsif (i.role == "Reviewer")
       reviewer = true
     end
   end
%>

<% if admin %>
<h1>ADMIN</h1>
<hr></hr>
<% end %>

<% if reviewer %>

<h1>Review Summary For <%= current_user.first_name%> <%=  current_user.last_name %></h1>

<% @newlyRequested = Review.where(:reviewer_id => current_user.id) %>

<table>
  <tr>
    <th>Title</th>
    <th>Review Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newlyRequested.each do |newReq| %>
  <tr>
    <td><%= newReq.title %></td>
    <td><%= newReq.state %></td>
    <td><%= link_to 'Do Review', edit_review_path(newReq) %></td>
  </tr>
<% end %>
</table>
<% end %>

<% if student %>

<% if current_user.reviews.count > 0 %>
<h1>Reviews for <%= current_user.first_name%> <%=  current_user.last_name %> </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Review Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.state %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Delete', review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New Review', new_review_path %>
<% else %>
<br></br>
<% end %>
<br></br>
<br></br>
<%= link_to "LOGOUT", sign_out_path %>

<% end %>