<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Review Status:</b>
  <%= @review.state %>
</p>

  <%
      puts("URL: " + @review.url.to_s)
      parsedURL = URI.parse(@review.url)
      if (parsedURL.host = "www.youtube.com")
        if (parsedURL.query != nil)
          queryParams = parsedURL.query
          if (queryParams =~ /&/ )
            queryParams = parsedURL.query.split("&")[0]
          end
         youtubeId = queryParams.split("=")[1]
        else
        youtubeId = parsedURL.path.split("/")[1]
        end
      end
%>

<iframe width="420" height="315" src="http://www.youtube.com/embed/<%= youtubeId %>?rel=0" frameborder="0" allowfullscreen></iframe>
<br></br><br></br>
<b>Video Reviewer:</b>
<% u = User.find(@review.reviewer_id) %>
<%= u.first_name + " " + u.last_name %>
<br></br><br></br>
<%
for i in @review.questions
%>
<b><%= i.question %></b>
<br>Ans: <%= i.answer %></br>
<br></br><br></br>
<%end%>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
<br></br>
<%= link_to "LOGOUT", sign_out_path %>
